/*Ubuntu:300,400,500,700*/
/*OpenSANS: 300,400,600,700*/

html{
	font-size: 100%;
}

body{
	font-size: 0.9em;
	overflow-x: hidden;
}

.fontweight--light{
	font-weight: 400;
}

.bigtitle{
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	height: 100vh;
	width: 100vw;
	background: url(assets/img/bigtitle__background.jpg);     
}

    .bigtitle__backgroundcolor{
            display: flex;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 45, 41, 0.92);
            transition: 2s background-color;
    }

    .bigtitle__job{
            color: #fff;
            font-size: 1.5em;
            font-weight: 300;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            opacity: 0;
            text-align: center;
            bottom: 110px;
            transition: 2s opacity;
    }

    .bigtitle__text{
            opacity: 1;
            color: #fff;
            margin: auto;
            font-size: 8em;
            letter-spacing: 0.6em;	
            transition: 0.4s all;
    }

    .bigtitle__anthonydouardlogo{
            position: absolute;
            width: 172px;
            left: 0;
            right: 0;
            bottom: 30px;
            margin: 0 auto;
            opacity: 0;
            transition: 2s opacity;
            height: auto;
    }

    .bigtitle__anthonydouardlogo.canhover{
    	cursor: pointer;
    }

        #show{
                opacity: 0;
        }

        #brush{
                transition: 0.3s all;
        }

        #left, #show, #right, #slash{
                transition: 0.4s all;
        }

        .bigtitle__anthonydouardlogo.canhover:hover #brush{
                opacity: 0;
        }

        .bigtitle__anthonydouardlogo.canhover:hover #show{
                opacity: 1;
        }

        .bigtitle__anthonydouardlogo.canhover:hover #code #left{
                transform: translateX(-50px);
        }

        .bigtitle__anthonydouardlogo.canhover:hover #code #right{
                transform: translateX(30px);
        }
        
        .bigtitle__anthonydouardlogo.canhover:hover #code #slash{
                transform: translateX(30px);
        }

    .bigtitle__text--name{
            font-weight: 500;
    }

    .bigtitle__text--firstname{
            font-weight: 300;
            margin-left: 2em;
    }

    
.menu__container{
    width: auto;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

	.menu__container h1{
		text-align: center;
		color: #fff;
		letter-spacing: 0.5em;
		margin-top: 2em;
		opacity: 0;
		animation: display--opacity 0.4s linear forwards;
	}

    .menu__case{
        display: inline-block;
        text-align: center;
        width: calc(100vw/6);
        height: 200px;
        margin: 0px 1vw;
        background-color: rgba(255, 255, 255, 0.39);
        border-radius: 4px;
        transition: 3s transform, 0.4s width, .4s height;
        transform: translateY(-400px);
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
        animation: menu__case--down 0.4s cubic-bezier(.49,.16,.26,1.17) .3s forwards;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .menu__case:hover::before{
    	top: 8px;
    	left: 8px;
    }

    .menu__case:hover::after{
		top: 18px;
    	left: 18px;
    }

    .menu__case h2{
        font-weight: 400;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 127, 10, 0.69);
        padding: 5px 0;
        color: #fff;
        transition: 0.4s height;
        height: 15%;
        border-radius: 0px 0px 4px 4px;
    }
    
    .menu__case::before, .menu__case::after{
    	content: "";
    	position: absolute;
    	height: 100%;
    	left: 4px;
    	top: 4px;
    	transform: translateZ(-1px);
    	width: 100%;
    	border-radius: 4px;
    	z-index: -5;
    	transition: 0.4s top, 0.4s left;
    	background-color: rgba(255, 255, 255, 0.19);
    }

    .menu__case::after{
    	left: 9px;
    	top: 9px;
    }
    
    .menu__case:nth-child(2){
        animation: menu__case--down 0.4s cubic-bezier(.49,.16,.26,1.17) .4s forwards;   
    }

    .menu__case:nth-child(2) h2{
    	background-color: rgba(2, 43, 53,0.8);
    }

    .menu__case:nth-child(3){
        animation: menu__case--down 0.4s cubic-bezier(.49,.16,.26,1.17) .2s forwards;
    }

    .menu__case:nth-child(3) h2{
    	background-color: rgba(10, 207, 255, 0.69);
    }


    .menu__case:nth-child(4){
        animation: menu__case--down 0.4s cubic-bezier(.49,.16,.26,1.17) .5s forwards;
    }

    .menu__case:nth-child(4) h2{
    	background-color: rgba(2, 43, 53,0.8);
    }


    
    @keyframes menu__case--down {
        from {transform: translateY(-400px);}
        to {transform: translateY(20vh);}
    }

    @keyframes display--opacity {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
    @keyframes menu__case--float{
        0%{transform: translateY(150px);}
        25%{transform: translateY(145px);}
        50%{transform: translateY(155px);}
        75%{transform: translateY(145px);}
        100%{transform: translateY(150px);}
    }
    
    
    
    .menu__case:hover h2{
        height: 95%;
        border-radius: 4px;
    }